@import "reset.scss";
$bilkacolor: #199FE3;
$backcolor: #F3F3F3;
$textcolor: #5E6C7C;
$checkcolor: green;
$fifcolor: #72cec1;

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  margin-bottom: 10px;
  width: 18%;
}

.nav-links li {
  list-style: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
  outline: 3px solid $bilkacolor;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $bilkacolor;
  margin: 5px;
  transition: all 0.3s ease;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@media screen and (max-width: 768px) {
  body {
    background-color: $backcolor;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    overflow-x: hidden;
  }

  .logo-ikon {
    display: flex;
    flex-direction: row;
  }

  .logo-link {
    display: block;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
    margin-right: 15px;
  }

  .logo-ikon {
    margin-top: 10px;
  }

  .logo-ikon .search {
    width: 15%;
    margin-right: 15px;
  }

  .logo-ikon .heart {
    width: 15%;
    margin-right: 15px;
  }

  .logo-ikon .profil {
    width: 15%;
    margin-right: 15px;
  }

  .logo-ikon .kurv {
    width: 15%;
    margin-right: 15px;
  }

  .breadcrumb {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .breadcrumb li {
    display: inline;
    font-size: 14px;
    color: #5E6C7C;
    font-family: 'Segoe UI', sans-serif;
  }

  .breadcrumb li+li:before {
    padding: 8px;
    content: url(images/icon-arrow.png)"\00a0";
    background-size: cover;
  }

  .breadcrumb li a {
    color: #000;
    text-decoration: none;
  }

  .breadcrumb li a:hover {
    color: $bilkacolor;
  }
  /* SKAL RETTELSE TIL!! HUSK OG FJERN DISPLAY NONE!! */
  .nav-links {
    position: absolute;
    left: 0;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5 ease-in;
    display: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    margin-left: 10px;
    margin-right: 0;
    padding-right: 0;
    border: 5px;
    outline: none;
    height: 28px;
  }

  .menu {
    display: none;
    position: absolute;
    bottom: 22px;
    left: 40px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 34PX;
    text-align: center;
    margin-top: 30px;
  }

  .text-forside {
    color: #5E6C7C;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 22px;
    margin-right: 22px;
  }

  a {
    list-style: none;
    text-decoration: none;
  }

  .pcguide {
    width: 333px;
    height: 45px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    background: $bilkacolor;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 21px;
    margin-right: 25px;
    box-shadow: 1px 3px 6px #888888;
  }

  .sorter-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 22px;
  }

  .filter {
    width: 140px;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: 1px 3px 6px #888888;
  }

  .produkt {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .produkt-pc a {
    list-style: none;
    text-decoration: none;
  }

  .produkt-pc {
    width: 333px;
    height: 545px;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 21px;
    overflow: auto;
  }

  .frifragt {
    background: #1E2329;
    color: #ffffff;
    font-size: 11px;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    padding-top: 10px;
    line-height: 11px;
    width: 50px;
    height: 35px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .lenovo {
    width: 100%;
  }

  .pc-title {
    text-align: center;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10px;
    color: #000000;
  }

  .pc-beskrivelse {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: $textcolor;
    margin-top: 10px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .click-lager {
    text-align: right;
    font-family: 'Segoe UI', sans-serif;
    color: $textcolor;
    margin-top: 20px;
    margin-right: 26px;
  }

  .check-lager {
    width: 5%;
  }

  .hr-produkt {
    margin-top: 20px;
    color: $textcolor;
    margin-left: 26px;
  }

  .pris {
    font-size: 26px;
    color: $bilkacolor;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
  }
}
/* PRODUKT SIDE - bilka-produkt.html */
.pc-help {
  width: 333px;
  height: 45px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background: $bilkacolor;
  padding-top: 20px;
  margin-top: 20px;
  box-shadow: 1px 3px 6px #888888;
}
/* PC Teknik guide sider - pc-overblik.html */
h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
}

.luk-tab {
  text-decoration: none;
  list-style: none;
  color: $bilkacolor;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  top: 14vh;
}

.luk-tab a {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-size: 22px;
}

.teknik-text {
  color: #5E6C7C;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 30px;
}

#regForm {
  margin: 20px auto;
}

.span {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: $bilkacolor;
  color: #ffffff;
  border: none;
  width: 120px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: 'Heebo', sans-serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
  box-shadow: 1px 3px 6px #888888;
}

#nextBtn {
  margin-top: 5vh;
  margin-right: 17vw;
  margin-bottom: 2vh;
  padding: 10px;
  box-shadow: 1px 3px 6px #888888;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 25px;
  background-color: $bilkacolor;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: $bilkacolor;
}

.cpu-brain {
  width: 331px;
  height: 186px;
  background-image: url("images/bilka-indgang-med-brainz.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px;
}

.harddisk-img {
  width: 331px;
  height: 186px;
  background-image: url("images/indkoebsvognsamlet.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px;
}

.ram-img {
  width: 331px;
  height: 186px;
  background-image: url("images/bilkareol-Recovered.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px;
}

.grafik-img {
  width: 331px;
  height: 186px;
  background-image: url("images/grafikkort.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px;
}

h4 {
  font-family: 'Heebo', sans-serif;
  text-align: left;
  margin-left: 20px;
}

.teknik-overskrift-text {
  font-family: 'Segoe UI', sans-serif;
  color: #5E6C7C;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
/* Bilka Guide side - bilka-guide.html */
.bilkaguide-container {
  background-color: $backcolor;
  width: 100%;
  height: 680px;
}

main {
  background-color: $backcolor;
}

.b-guidetitel {
  font-family: 'Heebo', sans-serif;
  font-size: 23px;
  padding: 10px 20px 0;
}

.b-guideoverskrift {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 0 20px 15px;
}

.b-guidetext {
  font-family: 'Segoe UI', sans-serif;
  color: #5E6C7C;
  line-height: 2.5vh;
  font-size: 17px;
  padding: 0 20px;
}

.videre-container {
  display: inline-flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 83%;
}

.startguide {
  width: 254px;
  height: 45px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
  background: $bilkacolor;
  box-shadow: 1px 3px 6px #888888;
}

.textcent {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.guide-videre {
  display: block;
  width: 254px;
  height: 65px;
}
/* GUIDE VEJLEDNING - guide-vejledning.html */
.graa-blok {
  background-color: $backcolor;
  width: 25px;
  height: 520px;
  position: absolute;
  left: 83%;
  z-index: 500;
}

.gif {
  width: 70%;
  height: 0;
  padding-bottom: 140%;
  position: relative;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.span2 {
  display: none;
  position: absolute;
}

.step2 {
  height: 20px;
  width: 20px;
  margin: 0 25px;
  background-color: $bilkacolor;
  border: none;
  border-radius: 50%;
  display: none;
  opacity: 0.5;
  position: absolute;
}

.step2.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step2.finish {
  background-color: $bilkacolor;
}
/* PROCESSOR SIDE - processor.html */
.cpu-indgang {
  width: 89%;
  margin-left: 21px;
}

.forestil {
  font-family: 'Segoe UI', sans-serif;
  color: #5E6C7C;
  line-height: 2.5vh;
  font-size: 17px;
  margin-left: 21px;
  margin-right: 21px;
  padding-top: 10px;
}

.vaelg {
  width: 254px;
  height: 45px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background: $bilkacolor;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 61px;
  margin-right: 25px;
  box-shadow: 1px 3px 6px #888888;
}
/* VÆLG PROCESSOR SIDE - vaelg-processor.html */
#Processortype {
  height: 820px;
}

.cpu-vaelg {
  display: flex;
  background-color: $backcolor;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  align-items: center;
}

.i3-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.cpu-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilka-indgang-med-en-brain.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.i5-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.cpu2-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/brainz2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.i7-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  box-shadow: 1px 3px 6px #888888;
}

.cpu3-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/brainz3.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.intel-amd {
  position: absolute;
  top: 6%;
  left: 55%;
  font-family: 'Heebo', sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}

.undertekst {
  position: absolute;
  left: 55%;
  top: 19%;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.info-tekst {
  position: absolute;
  top: 35%;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #5E6C7C;
  text-align: left;
  padding-left: 190px;
  line-height: 2vh;
  padding-right: 10px;
}

.vis-eks {
  position: absolute;
  width: 95px;
  background-color: $bilkacolor;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  top: 70%;
  left: 51vw;
  padding: 5px;
}

.vis-eks2 {
  position: absolute;
  width: 95px;
  background-color: $bilkacolor;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  padding: 5px;
  top: 70%;
  left: 51vw;
  padding: 5px;
}

.vis-eks3 {
  position: absolute;
  width: 95px;
  background-color: $bilkacolor;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  left: 51vw;
  padding: 5px;
  top: 70%;
  padding: 5px;
}

.modal {
  z-index: 15;
  height: 611px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background: $backcolor !important;
  padding: 15px 10px 0 10px !important;
}

.close-modal {
  background-image: url("images/close-modal.png") !important;
}

.eksempel {
  color: white;
}

.visex-title {
  font-family: 'Heebo', sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.visex-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 12.75pt;
  text-align: center;
  line-height: 2.5vh;
}

.vis-infotext {
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

.vis-overskrift {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.forbrug {
  display: flex;
  flex-direction: flex-wrap;
  justify-content: center;
}

.vis-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.faner {
  width: 40px;
  height: 27px;
  border-radius: 8px;
  border: 0.5px solid #000000;
  font-size: 10px;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  position: absolute;
  background: #ffffff;
  left: 65%;
}

.vis-img1 {
  height: 60px;
  width: 90px;
  background-image: url("images/word_logo.gif");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15px;
}

.vis-img2 {
  height: 60px;
  width: 90px;
  background-image: url("images/Google_Chrome_icon.gif");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}

.vis-chrome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.vis-gb1 {}

.vis-gb2 {}

.vis-program {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #5E6C7C;
}

.vis-program1 {}

.vis-program2 {}

.question {
  width: 32px;
  height: 32px;
  position: absolute;
  shape-outside: circle();
  clip-path: circle();
  background-image: url("images/q-mark.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
  top: 69%;
  left: 79vw;
  opacity: 40%;
  background-color: $bilkacolor;
}

.q-mark {
  opacity: 0;
}
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
[type=radio] {
  cursor: pointer;
}

.check-box {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
}
/* CHECKED STYLES */
[type=radio]:checked+.check-box {
  outline: 3px solid #1DC272;
  background-image: url("images/check-mark.png");
  background-position: right 0 top 0;
  background-repeat: no-repeat;
  background-size: 40px;
}

.videre-tilbage {
  display: inline-flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 93%;
}

.tilbage {
  border: none;
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  color: $bilkacolor;
  font-weight: bold;
  padding: 5px 30px;
  box-shadow: 1px 3px 6px #888888;
  margin-right: 5px;
}

.videre {
  border: none;
  background-color: $bilkacolor;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 30px;
  box-shadow: 1px 3px 6px #888888;
  margin-left: 5px;
}
/* HARDDISK SIDE - harddisk.html */
.hdd-indgang {
  width: 89%;
  margin-left: 21px;
}
/* VÆLG HARDDISK SIDE - vaelg-harddisk.html */
#harddisktype {
  height: 820px;
}

.hdd-vaelg {
  display: flex;
  background-color: $backcolor;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  align-items: center;
}

.h128-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.hdd-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/indkoebsvogn1.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.h256-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.hdd2-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/indkoebsvogn2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.h512-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  box-shadow: 1px 3px 6px #888888;
}

.hdd3-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/indkoebsvognsamlet.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}
/* RAM SIDE - ram.html */
/* VÆLG RAM SIDE - vaelg-ram.html */
#ramtype {
  height: 820px;
}

.ram-vaelg {
  display: flex;
  background-color: $backcolor;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  align-items: center;
}

.r4-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.ram-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilkareolny2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.r8-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.ram2-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilkareol-2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.r16-vaelg {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.ram3-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilkareol-3.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}
/* GRAFIKKORT SIDE - ram.html */
/* VÆLG GRAIKKORT SIDE - vaelg-grafikkort.html */
.gra-vaelg {
  display: flex;
  background-color: $backcolor;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  align-items: center;
}

.inte-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 13px;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.inte-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/pasta-integreret.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.dedi-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px;
  border: none;
  box-shadow: 1px 3px 6px #888888;
}

.dedi-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/pasta-dedikeret.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.videre-tilbage-gra {
  display: inline-flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 65%;
}

.tilbage-gra {
  border: none;
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  color: $bilkacolor;
  font-weight: bold;
  padding: 5px 30px;
  box-shadow: 1px 3px 6px #888888;
  margin-right: 5px;
}

.vis-resultat {
  border: none;
  background-color: $bilkacolor;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 0;
  box-shadow: 1px 3px 6px #888888;
  margin-left: 5px;
}
/* RESULTAT SIDE - resultat.html */
#harddisktype2 {
  display: flex;
  background-color: $backcolor;
  flex-direction: column;
  width: 100%;
  height: 60px;
  position: relative;
  align-items: center;
}

.span-resultat {
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  outline: 1px solid #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: #ffffff;
}

.res-undertext {
  margin: 20px 0;
  text-align: center;
  font-size: 17px;
}

.res-text1 {
  font-family: 'Segoe UI', sans-serif;
}

.res-text2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
}

.computere {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pc1 {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  box-shadow: 1px 3px 6px #888888;
  margin-bottom: 5px;
}

.pc2 {
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  box-shadow: 1px 3px 6px #888888;
  margin-top: 5px;
}

.flere {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flere-btn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 254px;
  padding-top: 21px;
  padding-bottom: 21px;
  height: auto;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $bilkacolor;
  background-color: #ffffff;
  box-shadow: 1px 3px 6px #888888;
}
