@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif; }

.logo logo {
  margin-bottom: 10px;
  width: 18%; }

.nav-links li {
  list-style: none; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%; }

.nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px; }

.burger {
  display: none;
  cursor: pointer; }

.burger div {
  width: 25px;
  height: 3px;
  background-color: #199FE3;
  margin: 5px;
  transition: all 0.3s ease; }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

@media screen and (max-width: 768px) {
  body {
    background-color: #F3F3F3;
    overflow-x: hidden; }

  header {
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    overflow-x: hidden; }

  .logo-ikon .logo {
    margin-bottom: 10px;
    width: 18%; }

  .logo-ikon .search {
    width: 8%;
    margin-left: 20px; }

  .logo-ikon .heart {
    width: 8%;
    margin-left: 20px; }

  .logo-ikon .profil {
    width: 8%;
    margin-left: 20px; }

  .logo-ikon .kurv {
    width: 8%;
    margin-left: 20px; }

  .breadcrumb {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }

  .breadcrumb li {
    display: inline;
    font-size: 14px;
    color: #5E6C7C;
    font-family: 'Segoe UI', sans-serif; }

  .breadcrumb li + li:before {
    padding: 8px;
    content: url(images/icon-arrow.png) " ";
    background-size: cover; }

  .breadcrumb li a {
    color: #000;
    text-decoration: none; }

  .breadcrumb li a:hover {
    color: #199FE3; }

  /* SKAL RETTELSE TIL!! HUSK OG FJERN DISPLAY NONE!! */
  .nav-links {
    position: absolute;
    left: 0;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5 ease-in;
    display: none; }

  .nav-links li {
    opacity: 0; }

  .burger {
    display: block;
    margin-right: 15px;
    padding-right: 50px;
    border: 5px;
    border-color: #199FE3; }

  .menu {
    position: relative;
    bottom: 22px;
    left: 40px; }

  .nav-active {
    transform: translateX(0%); }

  h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 34PX;
    text-align: center;
    margin-top: 30px; }

  .text-forside {
    color: #5E6C7C;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 22px;
    margin-right: 22px; }

  a {
    list-style: none;
    text-decoration: none; }

  .pcguide {
    width: 333px;
    height: 45px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    background: #199FE3;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 21px;
    margin-right: 25px;
    box-shadow: 1px 3px 6px #888888; }

  .sorter-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 22px; }

  .filter {
    width: 140px;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: 1px 3px 6px #888888; }

  .produkt {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 20px; }

  .produkt-pc a {
    list-style: none;
    text-decoration: none; }

  .produkt-pc {
    width: 333px;
    height: 545px;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 21px;
    overflow: auto; }

  .frifragt {
    background: #1E2329;
    color: #ffffff;
    font-size: 11px;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    padding-top: 10px;
    line-height: 11px;
    width: 50px;
    height: 35px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px; }

  .lenovo {
    width: 100%; }

  .pc-title {
    text-align: center;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10px;
    color: #000000; }

  .pc-beskrivelse {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #5E6C7C;
    margin-top: 10px;
    margin-left: 26px;
    margin-right: 26px; }

  .click-lager {
    text-align: right;
    font-family: 'Segoe UI', sans-serif;
    color: #5E6C7C;
    margin-top: 20px;
    margin-right: 26px; }

  .check-lager {
    width: 5%; }

  .hr-produkt {
    margin-top: 20px;
    color: #5E6C7C;
    margin-left: 26px; }

  .pris {
    font-size: 26px;
    color: #199FE3;
    font-family: 'Heebo', sans-serif;
    font-weight: 900; } }
/* PRODUKT SIDE - bilka-produkt.html */
.pc-help {
  width: 333px;
  height: 45px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background: #199FE3;
  padding-top: 20px;
  margin-top: 20px;
  box-shadow: 1px 3px 6px #888888; }

a {
  display: block; }

/* PC Teknik guide sider - pc-overblik.html */
h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-top: 30px; }

.luk-tab {
  text-decoration: none;
  list-style: none;
  color: #199FE3;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  top: 16vh; }

.luk-tab a {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-size: 22px; }

.teknik-text {
  color: #5E6C7C;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 30px; }

#regForm {
  margin: 20px auto; }

.span {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px; }

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa; }

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd; }

/* Hide all steps by default: */
.tab {
  display: none; }

button {
  background-color: #199FE3;
  color: #ffffff;
  border: none;
  width: 120px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: 'Heebo', sans-serif;
  cursor: pointer; }

button:hover {
  opacity: 0.8; }

#prevBtn {
  background-color: #bbbbbb;
  box-shadow: 1px 3px 6px #888888; }

#nextBtn {
  margin-top: 5vh;
  margin-right: 17vw;
  margin-bottom: 2vh;
  padding: 10px;
  box-shadow: 1px 3px 6px #888888; }

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 25px;
  background-color: #199FE3;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5; }

.step.active {
  opacity: 1; }

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #199FE3; }

.cpu-brain {
  width: 331px;
  height: 186px;
  background-image: url("images/bilka-indgang-med-brainz.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px; }

.harddisk-img {
  width: 331px;
  height: 186px;
  background-image: url("images/indkoebsvognsamlet.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px; }

.ram-img {
  width: 331px;
  height: 186px;
  background-image: url("images/bilkareol-Recovered.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px; }

.grafik-img {
  width: 331px;
  height: 186px;
  background-image: url("images/grafikkort.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21px; }

h4 {
  font-family: 'Heebo', sans-serif;
  text-align: left;
  margin-left: 20px; }

.teknik-overskrift-text {
  font-family: 'Segoe UI', sans-serif;
  color: #5E6C7C;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px; }

/* Bilka Guide side - bilka-guide.html */
.b-guidetitel {
  font-family: 'Heebo', sans-serif;
  font-size: 23px;
  margin-left: 21px; }

.b-guideoverskrift {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 23px;
  margin-left: 21px; }

.b-guidetext {
  font-family: 'Segoe UI', sans-serif;
  color: #5E6C7C;
  line-height: 2.5vh;
  font-size: 17px;
  margin-left: 21px;
  margin-right: 21px; }

.illustrationer {
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 21px;
  margin-right: 21px; }

.illustrationer img {
  width: 24%;
  box-sizing: border-box;
  padding: 5px; }

.startguide {
  width: 254px;
  height: 45px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background: #199FE3;
  padding-top: 20px;
  margin: 50px 25px 20px 61px;
  box-shadow: 1px 3px 6px #888888; }

/* GUIDE VEJLEDNING - guide-vejledning.html */
.grå-blok {
  background-color: #F3F3F3;
  width: 25px;
  height: 560px;
  position: absolute;
  left: 86%;
  z-index: 500; }

.gif {
  width: 80%;
  height: 0;
  padding-bottom: 140%;
  position: relative;
  margin: 0 auto; }

iframe {
  width: 100%;
  height: 100%;
  position: absolute; }

.span2 {
  display: none;
  position: absolute; }

.step2 {
  height: 20px;
  width: 20px;
  margin: 0 25px;
  background-color: #199FE3;
  border: none;
  border-radius: 50%;
  display: none;
  opacity: 0.5;
  position: absolute; }

.step2.active {
  opacity: 1; }

/* Mark the steps that are finished and valid: */
.step2.finish {
  background-color: #199FE3; }

/* PROCESSOR SIDE - processor.html */
.cpu-indgang {
  width: 89%;
  margin-left: 21px; }

.forestil {
  font-family: 'Segoe UI', sans-serif;
  color: #000000;
  line-height: 2.5vh;
  font-size: 17px;
  margin-left: 21px;
  margin-right: 21px; }

.vaelg {
  width: 254px;
  height: 45px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background: #199FE3;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 61px;
  margin-right: 25px;
  box-shadow: 1px 3px 6px #888888; }

/* VÆLG PROCESSOR SIDE - vaelg-processor.html */
.cpu-vaelg {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

.i3-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 13px;
  border: none; }

.cpu-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilka-indgang-med-en-brain.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.i5-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px;
  border: none; }

.cpu2-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/brainz2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.i7-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px; }

.cpu3-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/brainz3.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.intel-amd {
  position: absolute;
  top: 6%;
  left: 55%;
  font-family: 'Heebo', sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #000000; }

.undertekst {
  position: absolute;
  left: 55%;
  top: 19%;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000000; }

.info-tekst {
  position: absolute;
  top: 35%;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #5E6C7C;
  text-align: left;
  padding-left: 190px;
  line-height: 2vh;
  padding-right: 10px; }

.vis-eks {
  position: absolute;
  width: 95px;
  background-color: #199FE3;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  top: 70%;
  left: 51vw;
  padding: 5px;
  z-index: 500; }

.vis-eks2 {
  position: absolute;
  width: 95px;
  background-color: #199FE3;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  padding: 5px;
  top: 70%;
  left: 51vw;
  padding: 5px;
  z-index: 500; }

.vis-eks3 {
  position: absolute;
  width: 95px;
  background-color: #199FE3;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  left: 51vw;
  padding: 5px;
  top: 70%;
  padding: 5px;
  z-index: 500; }

.question {
  width: 32px;
  height: 32px;
  position: absolute;
  shape-outside: circle();
  clip-path: circle();
  background-image: url();
  top: 69%;
  left: 79vw;
  opacity: 40%;
  background-color: #199FE3; }

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

/* IMAGE STYLES */
[type=radio] {
  cursor: pointer; }

.check-box {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff; }

/* CHECKED STYLES */
[type=radio]:checked + .check-box {
  outline: 3px solid #1DC272;
  background-image: url(images/check-mark.png);
  background-position: right 0px top 0px;
  background-repeat: no-repeat;
  background-size: 40px; }

.videre-tilbage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px; }

.tilbage {
  border: none;
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  padding: 5px 30px;
  box-shadow: 1px 3px 6px #888888;
  margin-left: 60px; }

.videre {
  border: none;
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #199FE3;
  padding: 5px 30px;
  box-shadow: 1px 3px 6px #888888;
  margin-right: 60px; }

/* HARDDISK SIDE - harddisk.html */
.hdd-indgang {
  width: 89%;
  margin-left: 21px; }

/* VÆLG HARDDISK SIDE - vaelg-harddisk.html */
.hdd-vaelg {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

.h128-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 13px;
  border: none; }

.hdd-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/indkoebsvogn1.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.h256-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px;
  border: none; }

.hdd2-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/indkoebsvogn2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.h512-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px; }

.hdd3-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/indkoebsvognsamlet.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

/* RAM SIDE - ram.html */
/* VÆLG RAM SIDE - vaelg-ram.html */
.ram-vaelg {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  width: 100%;
  height: 820px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

.r4-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 13px;
  border: none; }

.ram-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilkareol.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.r8-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px;
  border: none; }

.ram2-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilkareolny2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

.r16-vaelg {
  position: relative;
  width: 351px;
  height: 226px;
  background-color: #ffffff;
  margin-top: 10px; }

.ram3-indgang-vaelg {
  position: absolute;
  width: 163px;
  height: 182px;
  background-image: url("images/bilkareol-3.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;
  float: left; }

/* GRAFIKKORT SIDE - ram.html */
/* VÆLG GRAIKKORT SIDE - vaelg-grafikkort.html */

/*# sourceMappingURL=bilka-syle.css.map */
